ul.projects li.root {
  background: #f6f6f6;
  padding: 10px;
  border: 1px solid #d7d7d7;
}

.theme-Flatly.light.redmine #projects-index {
  column-count: unset;
  column-width: unset;
  -webkit-column-count: unset;
  -webkit-column-width: unset;
}
